* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}

@media (min-width: 1150px) {
    .container {
        width: 1120px;
    }
}

.df {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside, header, main, footer {
    position: absolute;
}

main {
    margin-bottom: 50px;
}